html {
    background-color: lightcoral;
    font-family: 'Courier New', Courier, monospace;
}
body {
    padding-right: 250px;
    padding-left: 250px;
}
#pagecontainer {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.banner {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin: 0 -258px;
    background-color: grey;
}
.banner.header {
    justify-content: center;
    font-size: 3em;
    font-weight: bold;
    margin-top: -8px;
    padding: 0.5em 0em;
}
.banner.footer {
    margin-top: auto;
    margin-bottom: -8px;
}
.atags .references {
    text-decoration: none;
    color: black;
}

#btncontainer {
    display: flex;
    justify-content: space-evenly;
    padding: 1em 5em;
}
button {
    padding: 0.5em 2em;
    border-radius: 0.3em;
    background-color: aquamarine;
    font-size: 1em;
    font-weight: 600;
}

#gridcontainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-wrap: wrap;
    margin: 2.5em;
    border: 5px solid black;
    width: 30em;
    height: 30em;
    touch-action: none;
}

.grid-row {
    display: flex ;
    flex: 1 1 auto;
}

.grid-element {
    flex: 1 1 auto;
    background-color: white;
}